 * {
     margin: 0;
     padding: 0;
     list-style: none;
     text-decoration: none;
     box-sizing: border-box;
 }
 
 @media screen and (max-width: 1200px) {
     #search_results_desktop {
         display: none;
     }
     .navigation_bar {
         width: 100%;
         height: 31px;
         border-bottom: 1px solid black;
         margin-top: 55px;
     }
     .navigation_bar ul {
         display: flex;
         width: 100%;
         height: 100%;
         align-items: center;
         font-size: 16px;
         font-family: 'Futura Std';
     }
     .navigation_bar ul li {
         padding-right: 3px;
     }
     .navigation_bar ul a {
         color: black;
     }
     .title_page {
         height: 51px;
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: flex-end;
         margin-bottom: 10px;
     }
     .title_page h3 {
         height: 30px;
         width: 102px;
         background-color: #000;
         text-align: center;
         color: #fff;
         font-weight: 600;
         font-family: 'Futura Std';
         font-size: 20px;
         line-height: 30px;
     }
     .top_page {
         height: 36px;
         width: 100%;
         background-color: #E5E3E3;
         display: flex;
         border: 1px solid #000;
         padding: 0px 24px 0px 14px;
         margin-bottom: 13px;
     }
     .top_page div:first-child {
         flex: 1;
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 16px;
         font-family: 'Futura Std';
         font-weight: bold;
         position: relative;
         padding-left: 11px;
     }
     .top_page div:first-child::before {
         content: '';
         height: 19px;
         width: 20px;
         background: url(../images/black-shopping-cart.png) no-repeat;
         background-size: contain;
         position: absolute;
         top: 50%;
         left: -1px;
         transform: translate(0, -50%);
     }
     .top_page div:first-child::after {
         content: '';
         height: 8px;
         width: 15px;
         background: url(../images/arrow-down-mobile.png) no-repeat;
         background-size: contain;
         position: absolute;
         right: -10px;
         top: 60%;
         transform: translate(50%, -50%);
     }
     .top_page div:last-child {
         flex: 1;
         display: flex;
         justify-content: flex-end;
         align-items: center;
         font-family: 'Futura Std';
         font-size: 16px;
         font-weight: bold;
         position: relative;
     }
     .middle_page {
         width: 100%;
         position: relative;
         margin-bottom: 10px;
     }
     .middle_page_first_title {
         width: 91.4%;
         height: 47px;
         margin: 0 auto;
         background-color: #060606;
         color: #fff;
         font-size: 22px;
         font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         line-height: 47px;
         font-weight: bolder;
         padding-left: 5.9%;
         border: 1px solid #000;
     }
     .middle_page_first_title_change {
         width: 91.4%;
         height: 47px;
         margin: 0 auto;
         background-color: #E5E3E3;
         color: #000;
         font-size: 22px;
         font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         line-height: 47px;
         font-weight: bolder;
         padding-left: 5.9%;
         border: 1px solid #000;
     }
     .middle_userInfo {
         width: 91.4%;
         margin: 0 auto;
         padding: 8px 8px 0px 8px;
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
         border: 1px solid #000;
     }
     /*  Costumer Information  */
     .middle_userInfo input {
         height: 30px;
         font-size: 16px;
         font-family: 'Futura Std';
         padding-left: 4px;
         background-color: #F5F5F5;
         margin-bottom: 9px;
         color: #AFAFAF;
         border: none;
         border: 1px solid black;
     }
     .middle_userInfo input:first-child {
         width: 46.4%;
     }
     .middle_userInfo input:nth-child(2) {
         width: 46.4%;
     }
     .middle_userInfo input:nth-child(3) {
         width: 100%;
     }
     .middle_userInfo .btn_Continue {
         width: 100%;
         height: 27px;
         display: flex;
         justify-content: flex-end;
         margin-bottom: 5px;
     }
     .middle_userInfo .btn_Continue button:first-child {
         width: 80px;
         height: 27px;
         background-color: #069736;
         border: 1px solid #000;
         color: #fff;
         font-weight: bold;
         font-size: 14px;
         margin-bottom: 5px;
     }
     .middle_userInfo_second {
         width: 91.4%;
         margin: 0 auto;
         padding: 8px 8px 0px 8px;
         border: 1px solid #000;
     }
     .middle_userInfo_second .content_mobile {
         width: 100%;
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
     }
     /* Costumer Information  */
     /* Shipping Address  */
     .middle_userInfo_second input {
         height: 30px;
         font-size: 16px;
         font-family: 'Futura Std';
         padding-left: 10px;
         background-color: #F5F5F5;
         margin-bottom: 9px;
         color: #AFAFAF;
         border: 1px solid black;
     }
     .middle_userInfo_second input:nth-child(-n+4) {
         width: 46.4%;
     }
     .middle_userInfo_second input:nth-child(n+5) {
         width: 100%;
     }
     .middle_page .btn_Continue {
         width: 100%;
         height: 27px;
         display: flex;
         justify-content: flex-end;
         margin-bottom: 5px;
     }
     .middle_userInfo_second .btn_Continue button:first-child {
         width: 80px;
         height: 27px;
         background-color: #747474;
         border: 1px solid #000;
         color: #fff;
         font-weight: bold;
         font-size: 14px;
         margin-bottom: 5px;
         margin-left: 9px;
     }
     .middle_userInfo_second .btn_Continue button:last-child {
         width: 80px;
         height: 27px;
         background-color: #069736;
         border: 1px solid #000;
         color: #fff;
         font-weight: bold;
         font-size: 14px;
         margin-bottom: 5px;
         margin-left: 9px;
     }
     /*  Shipping Address  */
     .returns {
         width: 91.4%;
         height: 47px;
         margin: 0 auto;
         padding-left: 10px;
         margin-top: 18px;
         position: relative;
         margin-bottom: 15px;
     }
     .returns a {
         text-decoration: underline;
         font-size: 14px;
         font-weight: 100;
         font-family: 'Futura Std';
         color: #000;
     }
     .returns a::before {
         content: '';
         width: 8px;
         height: 12px;
         background: url(../images/small_arrow_left.png) no-repeat;
         background-size: contain;
         position: absolute;
         top: 4px;
         left: -1px;
     }
 }
 
 @media screen and (min-width: 280px) and (max-width: 330px) {
     .top_page {
         height: 36px;
         width: 100%;
         background-color: #E5E3E3;
         display: flex;
         border: 1px solid #000;
         padding: 0px 24px 0px 14px;
         margin-bottom: 13px;
     }
     .top_page div:first-child {
         flex: 1;
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 15px;
         font-family: 'Futura Std';
         font-weight: bold;
         position: relative;
     }
     .top_page div:first-child::before {
         content: '';
         height: 19px;
         width: 20px;
         background: url(../images/black-shopping-cart.png) no-repeat;
         background-size: contain;
         position: absolute;
         font-family: 'Futura Std';
         left: -12px;
     }
     .top_page div:last-child {
         flex: 1;
     }
 }
 
 @media screen and (min-width:768px) and (max-width:1200px) {
     .top_page {
         height: 36px;
         width: 100%;
         background-color: #E5E3E3;
         display: flex;
         border: 1px solid #000;
         padding: 0px 84px 0px 14px;
         margin-bottom: 13px;
     }
     .top_page div:first-child::before {
         content: '';
         height: 19px;
         width: 20px;
         background: url(../images/black-shopping-cart.png) no-repeat;
         background-size: contain;
         position: absolute;
         top: 50%;
         left: 70px;
         transform: translate(0, -50%);
     }
     .top_page div:first-child::after {
         content: '';
         height: 8px;
         width: 15px;
         background: url(../images/arrow-down-mobile.png) no-repeat;
         background-size: contain;
         position: absolute;
         right: 70px;
         top: 60%;
         transform: translate(50%, -50%);
     }
     .top_page div:last-child {
         flex: 1;
         /* background-color: red; */
         display: flex;
         justify-content: flex-end;
         align-items: center;
         font-family: 'Futura Std';
         font-size: 16px;
         font-weight: bold;
         position: relative;
     }
 }
 /*pc*/
 
 @media screen and (min-width: 1200px) {
     #search_results_mobile {
         display: none;
     }
     #search_results_desktop {
         margin-top: 1.54rem;
     }
     .desktop_topTitle {
         width: 100%;
         height: 1.832rem;
         display: flex;
         justify-content: center;
         align-items: flex-end;
         margin-bottom: 30px;
     }
     .desktop_topTitle h2 {
         width: 23%;
         height: 1.32rem;
         font-size: 0.68rem;
         color: #fff;
         background-color: #000;
         display: flex;
         align-items: center;
         justify-content: center;
         font-family: 'Futura Std';
         font-weight: 600;
     }
     .top_page {
         width: 17.8rem;
         margin: 0 auto;
         display: flex;
         justify-content: space-between;
     }
     .top_page .top_page_left {
         width: 60%;
     }
     .top_page .top_page_right {
         width: 34.7%;
         border: 1px solid #000;
         height: 5.342rem;
     }
     .top_page .top_page_left .content {
         width: 100%;
         border: 0.021rem solid #000;
         margin-bottom: 0.314rem;
     }
     .top_page_left div.pc_title {
         width: 100%;
         height: 1.11rem;
         background-color: #000;
         color: #fff;
         font-size: 0.514rem;
         padding-left: 2%;
         display: flex;
         align-items: center;
         font-family: 'Impact';
     }
     .top_page_left div.pc_titles {
         width: 100%;
         height: 1.11rem;
         background-color: #E5E3E3;
         font-size: 0.514rem;
         padding-left: 3%;
         display: flex;
         align-items: center;
         font-family: 'Impact';
     }
     .top_page_user {
         width: 95.4%;
         margin: 0 auto;
         display: flex;
         flex-wrap: wrap;
         justify-content: space-between;
         margin-top: 0.26rem;
     }
     .top_page_user input {
         background-color: #F5F5F5;
         color: #AFAFAF;
         font-size: 0.39rem;
         font-family: 'Futura Std';
         margin-bottom: 0.26rem;
         border: none;
         border: 1px solid;
     }
     .top_page_user input:nth-of-type(1) {
         width: 46.1%;
         height: 0.8rem;
     }
     .top_page_user input:nth-of-type(2) {
         width: 46.1%;
         height: 0.8rem;
     }
     .top_page_user input:nth-of-type(3) {
         width: 100%;
         height: 0.8rem;
     }
     .pc_continue1 {
         width: 100%;
         display: flex;
         justify-content: flex-end;
     }
     .pc_continue1 button:nth-of-type(1) {
         height: 0.833rem;
         width: 2.46rem;
         background-color: #069736;
         color: #fff;
         font-size: 0.39rem;
         font-family: 'Impact';
         border: 1px solid #000;
         margin-bottom: 10px;
     }
     .pc_continue1 button:nth-of-type(1):hover {
         box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
     }
     .pc_continue {
         width: 100%;
         display: flex;
         justify-content: flex-end;
         margin-top: 5px;
         margin-bottom: 6px;
     }
     .pc_continue button:nth-of-type(2) {
         height: 0.833rem;
         width: 2.46rem;
         background-color: #069736;
         color: #fff;
         font-size: 0.39rem;
         font-family: 'Impact';
         border: 1px solid #000;
         margin-left: 0.267rem;
     }
     .pc_continue button:nth-of-type(1):hover {
         box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
     }
     .pc_continue button:nth-of-type(1) {
         height: 0.833rem;
         width: 2.46rem;
         background-color: #747474;
         color: #fff;
         font-size: 0.39rem;
         font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         border: 1px solid #000;
     }
     .pc_continue button:nth-of-type(2) {
         height: 0.833rem;
         width: 2.46rem;
         background-color: #069736;
         color: #fff;
         font-size: 0.39rem;
         font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         border: 1px solid #000;
         margin-left: 0.267rem;
     }
     .pc_continue button:nth-of-type(2):hover {
         box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .2);
     }
     .pc_continue button:nth-of-type(1) {
         height: 0.833rem;
         width: 2.46rem;
         background-color: #747474;
         color: #fff;
         font-size: 0.39rem;
         font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         border: 1px solid #000;
     }
     .top_page_user1 {
         width: 95.4%;
         margin: 0 auto;
         display: flex;
         flex-direction: column;
         margin-bottom: 0.04rem;
     }
     .top_page_user1 input:nth-child(-n+7) {
         background-color: #F5F5F5;
         color: #AFAFAF;
         font-size: 0.39rem;
         font-family: 'Futura Std';
         width: 100%;
         height: 0.8rem;
         border: none;
         border: 1px solid;
         padding-left: 2px;
         margin-bottom: 0.26rem;
     }
     .order_summary {
         height: 5.342rem;
         width: 100%;
         text-align: center;
     }
     .order_summary h5 {
         font-size: 0.432rem;
         margin-top: 0.31rem;
         font-family: 'Futura Std';
     }
     .order_box {
         width: 94%;
         height: 38%;
         margin: 0.226rem auto;
         background-color: #F5F5F5;
         border: 1px solid;
     }
     .order_box ul {
         height: 100%;
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
         padding-left: 3px;
     }
     .order_box ul li:nth-child(1) {
         flex: 1;
         text-align: left;
     }
     .order_box ul li img {
         height: 100%;
         width: 100%;
         margin-top: 0.24rem;
     }
     .order_box ul li:nth-child(2) {
         font-size: 0.267rem;
         width: 45%;
         font-family: 'Futura Std';
     }
     .order_box ul li:nth-child(3) {
         font-size: 0.247rem;
         flex: 1;
         font-family: 'Futura Std';
     }
     .order_summary ul.list {
         height: 1.3rem;
         width: 94%;
         border-bottom: 2px solid #000;
         font-size: 0.35rem;
         font-family: 'Futura Std';
         font-weight: 400;
         margin: 0 auto;
         padding-left: 0.2rem;
     }
     .order_summary ul.list li {
         display: flex;
         justify-content: space-between;
         margin-bottom: 0.2rem;
     }
     .order_summary ul.money {
         height: 0.72rem;
         width: 100%;
         font-size: 0.35rem;
         padding: 0 0.2rem;
         padding-left: 0.4rem;
         font-family: 'Futura Std';
         font-weight: 600;
         line-height: 0.72rem;
     }
     .order_summary ul.money li {
         font-size: 0.35rem;
         display: flex;
         justify-content: space-between;
     }
     .pc_return {
         font-size: 0.49rem;
         height: 0.66rem;
         width: 100%;
         padding-left: 0.34rem;
         position: relative;
         font-family: 'Futura Std';
         margin-bottom: 1rem;
     }
     .pc_return::before {
         content: '';
         width: 0.21rem;
         height: 0.37rem;
         position: absolute;
         left: -1px;
         top: 10px;
         background: url(../images/pc_left.png) no-repeat;
         background-size: contain;
     }
     .pc_return a {
         text-decoration: underline;
         color: #000;
     }
 }