#m_list {
    width: 308px;
    height: 812px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
}

#close {
    width: 24.5px;
    height: 22px;
    margin-top: 17px;
    margin-left: 20px;
}

#m_list ul {
    color: white;
    margin-left: 9px;
    margin-top: 55px;
    font-family: 'Futura Std';
    font-size: 30px;
    font-weight: bold;
}

#m_list ul li {
    padding-bottom: 12px;
}

#m_list .open {
    margin-left: 26px;
    font-size: 25px;
    font-weight: 300;
    margin-top: 13px;
    margin-top: 9px;
    margin-bottom: 3px;
    display: none;
}

#m_list .open li {
    padding-bottom: 1px;
}

#m_list_desktop {
    width: 17.8rem;
    height: 3.76rem;
    background: #424040;
    position: absolute;
    top: 1rem;
    font-family: 'Futura Std';
    font-size: 0.314rem;
    display: none;
}

#m_list_desktop table {
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

#m_list_desktop table td {
    padding-right: 1rem;
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

#m_list_desktop table td a {
    color: white;
}