@media screen and (max-width:1200px) {
    #product_page_desktop {
        display: none;
    }
    .navigation_bar ul a {
        color: black;
    }
    .navigation_bar {
        width: 100%;
        height: 31px;
        border-bottom: 1px solid black;
        margin-top: 55px;
    }
    .navigation_bar ul {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        padding-left: 5px;
        font-size: 16px;
        font-family: 'Futura Std';
    }
    .navigation_bar ul li {
        padding-right: 3px;
    }
    .top_page {
        height: 412px;
        width: 100%;
        margin-top: 22px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Futura Std';
    }
    .drop_down_shopping_cart_mobile {
        width: 100%;
        height: 186px;
        border: black 1px solid;
        position: absolute;
        right: 0;
        top: 55px;
        z-index: 1;
        visibility: hidden;
    }
    .drop_down_shopping_cart_mobile .top_mobile {
        width: 100%;
        height: 60.75%;
        background-color: #F5F5F5;
        display: flex;
        align-items: center;
    }
    .top_mobile .top_left_mobile {
        width: 23.4%;
        height: 77.65%;
        margin-left: 34px;
        position: relative;
    }
    .top_mobile .top_left_mobile::before {
        content: "";
        width: 10px;
        height: 10px;
        background: url(../images/remove-mobile.png) no-repeat;
        background-size: contain;
        position: absolute;
        top: 39px;
        left: -21px;
    }
    .top_mobile .top_left_mobile img {
        width: 100%;
        height: 100%;
    }
    .top_right_mobile {
        height: 100%;
        width: 30.67%;
        margin-left: 24px;
        font-family: 'Futura Std';
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .top_right_mobile .last_line_mobile {
        height: 28px;
        width: 83.48%;
        display: flex;
    }
    .top_right_mobile .last_line_mobile div:nth-of-type(2) {
        height: 100%;
        width: 41.67%;
        font-size: 16px;
        text-align: center;
        line-height: 28px;
        background-color: white;
        border: 1px solid #707070;
    }
    .top_right_mobile .last_line_mobile div:nth-of-type(1) {
        flex: 1;
        position: relative;
        background-color: black;
    }
    .top_right_mobile .last_line_mobile div:nth-of-type(3) {
        flex: 1;
        background-color: black;
        position: relative;
    }
    .top_right_mobile .last_line_mobile img:nth-of-type(1) {
        position: absolute;
        width: 15.75px;
        height: 3.38px;
        bottom: 11px;
        left: 6px;
        color: white;
    }
    .top_right_mobile .last_line_mobile div:nth-of-type(3) img {
        position: absolute;
        width: 16.53px;
        height: 16.53px;
        bottom: 5px;
        left: 6px;
        color: white;
    }
    .top_right_mobile span:nth-of-type(1) {
        font-size: 20px;
        font-weight: bold;
    }
    .top_right_mobile span:nth-of-type(2) {
        margin: 4px auto;
        margin-top: -2px;
    }
    .drop_down_shopping_cart_mobile .bottom_mobile {
        width: 100%;
        height: 39.25%;
        background-color: #E5E3E3;
        border: none;
        border-top: 1px #707070 solid;
        padding-right: 20px;
        text-align: right;
        padding-top: 8px;
    }
    .bottom_mobile span {
        font-family: 'Futura Std';
        font-weight: 600;
    }
    .bottom_mobile div {
        width: 63.73%;
        height: 38.36%;
        margin: 0 auto;
        margin-top: 14px;
        display: flex;
        justify-content: space-between;
    }
    .bottom_mobile button {
        width: 42.68%;
        height: 100%;
        font-family: 'Impact';
        color: white;
        border: #707070 1px solid;
    }
    .bottom_mobile button:nth-of-type(1) {
        background-color: #747474;
    }
    .bottom_mobile button:nth-of-type(2) {
        background-color: black;
    }
    .top_page div:nth-of-type(1) {
        position: relative;
    }
    .top_page span {
        position: absolute;
        width: 8px;
        height: 8px;
        border: black 1px solid;
        border-radius: 50%;
    }
    .top_page span:nth-of-type(1) {
        bottom: 10px;
        left: 145px;
        background-color: black;
    }
    .top_page span:nth-of-type(2) {
        bottom: 10px;
        left: 159px;
    }
    .top_page h3 {
        font-size: 22px;
    }
    .top_page p {
        font-size: 18px;
    }
    .top_page button {
        width: 134.83px;
        height: 35.5px;
        margin: 8px 8px;
        border-radius: 17px;
        border-style: none;
        border: 1px solid #707070;
        font-family: 'Delius';
        font-size: 15px;
        color: white;
    }
    .top_page button:first-child {
        background-color: #747474;
        position: relative;
    }
    .top_page button:last-child {
        background-color: #069736;
    }
    .top_page button:first-child::after {
        content: "";
        background: url(../images/product_heart-mobile.png) no-repeat;
        width: 13px;
        height: 13px;
        background-size: contain;
        position: absolute;
        top: 11px;
        right: 1px;
    }
    .product_intro {
        width: 100%;
        height: 121px;
    }
    .product_intro div {
        height: 56px;
        width: 82.67%;
        margin: 32.5px auto;
    }
    .product_intro p {
        border: black 1px solid;
        padding-left: 60px;
        font-family: 'Futura Std';
        font-size: 14px;
        border-left: none;
        border-right: none;
        line-height: 30px;
    }
    .product_intro p:nth-of-type(1) {
        border-bottom: none;
    }
    .middle_page {
        width: 86.67%;
        height: 144px;
        border: 1px solid black;
        margin: 0 auto;
        margin-top: 5px;
        text-align: center;
        font-family: 'Futura Std';
        font-size: 13px;
    }
    .middle_page p:nth-of-type(1) {
        font-size: 16px;
        text-decoration: underline;
    }
    .middle_page p:nth-of-type(3) {
        text-decoration: underline;
    }
    .buttom_page {
        width: 100%;
        border: black 1px solid;
        margin-top: 45px;
        margin-bottom: 45px;
    }
    .buttom_page .text {
        margin-top: 8px;
        margin-left: 18px;
        margin-bottom: 4px;
        font-style: italic;
        font-family: 'Futura Std';
        font-size: 20px;
    }
    .search_results_pic {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .search_results_pic li {
        width: 44.1%;
        height: 198px;
        text-align: center;
        margin-bottom: 6px;
        font-size: 12px;
        font-family: 'Futura Std';
    }
    .search_results_pic li p {
        padding-bottom: 4px;
    }
    .search_results_pic li p:nth-of-type(1) {
        font-weight: bold;
    }
    .search_results_list img {
        width: 100%;
    }
    .search_results_pic li button {
        width: 99px;
        height: 26px;
        border-radius: 17px;
        border: 1px solid #707070;
        background-color: #069736;
        color: white;
        font-family: 'Delius';
    }
}

@media screen and (min-width:1200px) {
    #product_page_mobile {
        display: none;
    }
    .navigation_bar_desktop ul a {
        color: black;
    }
    .navigation_bar_desktop {
        width: 100%;
        height: 0.67rem;
        border-bottom: 1px solid black;
        margin-top: 1.54rem;
    }
    .navigation_bar_desktop ul {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        padding-left: 0.126rem;
        font-size: 0.335rem;
        font-family: 'Futura Std';
    }
    .navigation_bar_desktop ul li {
        padding-right: 0.115rem;
    }
    /* Drop_down_shopping_cart */
    #product_page_desktop .triangle {
        position: fixed;
        right: 15px;
        top: 70px;
        z-index: 1;
    }
    .drop_down_shopping_cart {
        width: 30.86%;
        height: 5.9777rem;
        position: fixed;
        right: 0;
        top: 1.5rem;
        z-index: 999;
    }
    .drop_down_shopping_cart .top {
        width: 100%;
        height: 40.95%;
        background-color: #F5F5F5;
        display: flex;
        align-items: center;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
    }
    .top .top_left {
        width: 29.9%;
        height: 79.7%;
        margin-left: 0.952rem;
        position: relative;
    }
    .top .top_left::before {
        content: "";
        width: 0.335rem;
        height: 0.335rem;
        background: url(../images/remove-desktop.png) no-repeat;
        background-size: contain;
        position: absolute;
        top: 50px;
        left: -42px;
    }
    .top .top_left img {
        width: 100%;
        height: 100%;
    }
    .top_right {
        height: 78.7%;
        width: 40.26%;
        margin-left: 0.4711rem;
        font-family: 'Futura Std';
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .top_right .last_line {
        height: 0.52rem;
        width: 65.86%;
        display: flex;
    }
    .top_right .last_line div:nth-of-type(2) {
        height: 100%;
        width: 36%;
        font-size: 0.335rem;
        text-align: center;
        line-height: 0.52rem;
        background-color: white;
        border: #707070 1px solid;
    }
    .top_right .last_line div:nth-of-type(1) {
        flex: 1;
        position: relative;
        background-color: black;
    }
    .top_right .last_line div:nth-of-type(3) {
        flex: 1;
        background-color: black;
        position: relative;
    }
    .top_right .last_line img:nth-of-type(1) {
        position: absolute;
        width: 0.33rem;
        height: 0.0745rem;
        bottom: 13.5px;
        left: 6px;
        color: white;
    }
    .top_right .last_line div:nth-of-type(3) img {
        position: absolute;
        width: 0.3664rem;
        height: 0.3664rem;
        bottom: 5px;
        left: 4.5px;
        color: white;
    }
    .top_right span:nth-of-type(1) {
        font-size: 0.3rem;
        font-weight: bolder;
    }
    .top_right span:nth-of-type(2) {
        font-size: 0.235rem;
        margin: 0.22rem auto;
    }
    .drop_down_shopping_cart .bottom {
        width: 100%;
        height: 25.05%;
        background-color: #E5E3E3;
        border: none;
        border: #000 1px solid;
        text-align: right;
        line-height: 10%;
    }
    .bottom span {
        font-family: 'Futura Std';
        font-size: 0.31875rem;
        font-weight: 600;
        padding-right: 0.2397rem;
    }
    .bottom div {
        width: 60.3%;
        height: 37.7%;
        margin: 0 auto;
        margin-top: 0.262rem;
        display: flex;
        justify-content: space-between;
    }
    .bottom button {
        width: 41.5%;
        height: 100%;
        font-family: 'Impact';
        font-size: 0.298rem;
        color: white;
        border: #707070 1px solid;
    }
    .bottom button:nth-of-type(1) {
        background-color: #747474;
    }
    .bottom button:nth-of-type(2) {
        background-color: black;
    }
    .top_page {
        width: 79.167%;
        height: 7.527rem;
        margin: 0 auto;
        margin-top: 0.733rem;
        display: flex;
        justify-content: space-between;
    }
    .top_page div:first-child {
        width: 47.3%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #right_page {
        border: 1px black solid;
        width: 47.3%;
        height: 100%;
        font-family: 'Futura Std';
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #right_page .shape {
        width: 78.3%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -1.2rem;
    }
    .top_page div:first-child img {
        width: 94.75%;
        height: 94.75%;
    }
    #right_page h3 {
        font-size: 0.58625rem;
        margin-top: 0.984rem;
    }
    #right_page .price {
        font-size: 0.460625rem;
        margin-top: 0.22rem;
    }
    #right_page .shape div:nth-of-type(1) {
        width: 100%;
        height: 13.91%;
        margin-top: 0.6177rem;
    }
    #right_page .shape div:nth-of-type(1) p {
        border: black 1px solid;
        padding-left: 1.2rem;
        font-family: 'Futura Std';
        font-size: 0.293rem;
        border-left: none;
        border-right: none;
        line-height: 30px;
    }
    #right_page .shape div:nth-of-type(1) p:first-child {
        border-bottom: none;
    }
    #right_page .shape .click_button {
        margin-top: 0.7328rem;
    }
    #right_page .shape button {
        width: 4.094rem;
        height: 0.815rem;
        border-radius: 39px;
        border-style: none;
        border: 1px solid #707070;
        font-family: 'Delius';
        font-size: 0.335rem;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.2198rem;
    }
    #right_page .shape button:first-child {
        background-color: #747474;
        position: relative;
        margin-top: 10px;
    }
    #right_page .shape button:last-child {
        background-color: #069736;
    }
    #right_page .shape button:first-child::after {
        content: "";
        background: url(../images/product_heart-desktop.png) no-repeat;
        width: 24px;
        height: 24px;
        background-size: contain;
        position: absolute;
        top: 14px;
        right: 14px;
    }
    .middle_page_desktop {
        width: 79.167%;
        height: 5.14rem;
        border: 1px solid black;
        margin: 0 auto;
        margin-top: 0.68rem;
        font-family: 'Futura Std';
    }
    .middle_page_desktop p:nth-of-type(1) {
        font-size: 0.3978rem;
        text-decoration: underline;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .middle_page_desktop p:nth-of-type(2) {
        font-size: 0.293rem;
        padding-left: 0.3664rem;
        padding-right: 0.22rem;
    }
    .buttom_page_desktop {
        width: 82.2%;
        height: 5.51rem;
        margin: 0 auto;
        margin-top: 0.94rem;
        margin-bottom: 1.832rem;
        position: relative;
    }
    .buttom_page_desktop .text_desktop {
        margin-left: 0.2rem;
        font-size: 0.4816rem;
        font-style: italic;
        font-family: 'Futura Std';
    }
    .like_pic_desktop {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .like_pic_desktop li {
        width: 20.72%;
        height: 4.847rem;
        text-align: center;
        font-family: 'Futura Std';
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border: black 1px solid;
    }
    .like_pic_desktop li p:nth-of-type(1) {
        font-weight: bold;
        font-size: 0.314rem;
    }
    .like_pic_desktop li p:nth-of-type(2) {
        font-size: 0.272rem;
    }
    .like_pic_desktop img {
        width: 100%;
        margin-top: -9px;
    }
    .like_pic_desktop li button {
        width: 2.1775rem;
        height: 0.5758rem;
        border-radius: 28px;
        border: 1px solid #707070;
        background-color: #069736;
        color: white;
        font-family: 'Delius';
        margin: 0 auto;
        font-size: 0.293125rem;
    }
    .buttom_page_desktop .arrow_left {
        position: absolute;
        width: 0.3036rem;
        height: 0.531rem;
        top: 2.25rem;
    }
    .buttom_page_desktop .arrow_right {
        position: absolute;
        width: 0.3036rem;
        height: 0.531rem;
        top: 2.25rem;
        right: 0;
    }
}